<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}

  <title>{% block title %}Meu Projeto{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}" type="text/css">
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">

</head>


<body class="bg-gray-900 text-white font-sans">

  <!-- Navbar -->
  <nav class="bg-gray-800 p-4 fixed w-full z-10">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{% url 'home' %}" class="text-2xl font-bold text-yellow-400">DANIELA VELTER</a>
      <ul class="flex space-x-6">
        <li><a href="{% url 'sobre' %}" class="hover:text-yellow-400">Sobre</a></li>
        <li><a href="{% url 'projeto' %}" class="hover:text-yellow-400">Projetos</a></li>
        <li><a href="{% url 'contato' %}" class="hover:text-yellow-400">Contato</a></li>
      </ul>
    </div>
  </nav>

  {% block content %}
  {% endblock %}


  <!-- Footer -->
  <footer class="bg-gray-800 text-white py-8">
    <div class="container mx-auto px-6 lg:px-20">
      <!-- Linha de Divisão -->
      <div class="border-b border-gray-600 pb-6 mb-6">
      </div>

      <!-- Redes Sociais -->
      <div class="flex justify-center space-x-6">
        <!-- GitHub -->
        <a href="https://github.com/Daniela2319" target="_blank" class="text-gray-400 hover:text-yellow-400">
          <img src="{% static 'img/logo/circuloC.png' %}" alt="GitHub" class="h-24 w-24">
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/danielavelteredu/" target="_blank"
          class="text-gray-400 hover:text-yellow-400">
          <img src="{% static 'img/logo/linkedin.png' %}" alt="LinkedIn" class="h-24 w-24">
        </a>
      </div>

      <!-- Direitos Autorais -->
      <div class="text-center text-gray-400 mt-6">
        <p>© 2025 Daniela Velter. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>



</body>

</html>