{% extends 'base.html' %}
{% load static %}

{% block title %}
Portfólio - Home
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="h-screen flex items-center justify-center bg-cover bg-center"
  style="background-image: url({% static 'assets/img/portifolio2.jpg' %});">
  <div class="text-center">
    <h1 class="text-5xl font-extrabold">Olá, sou <span class="text-yellow-400">DANIELA</span></h1>
    <p class="mt-4 text-lg">Desenvolvedora Front-End e Back-End | Soluções Web</p>
    <a href="#projetos"
      class="mt-6 inline-block bg-yellow-400 text-gray-900 px-6 py-3 rounded-lg font-bold shadow-lg hover:bg-yellow-300 transition">Veja
      meus projetos</a>
  </div>
</section>

<!-- Sobre mim -->
<section id="sobre" class="py-20 bg-gray-800">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-yellow-400 mb-6">Sobre Mim</h2>
    <p class="text-lg text-center leading-relaxed"> Sou desenvolvedora front-end e
      back-end apaixonada por transformar ideias em soluções digitais. Estudante em Tecnologia da Informação, meu
      objetivo é criar interfaces funcionais e atraentes, sempre focando na experiência do usuário.</p>
    <a href="{% url 'sobre' %}" class="text-yellow-400 hover:underline  p-1">Veja mais</a>
  </div>
</section>

<!-- Carrossel de Tecnologias -->
<div class="p-4">
  <P class="text-yellow-400 text-center font-bold text-2xl">TECNOLOGIAS</P>

  <div class="container flex justify-center items-center mt-10 m-2 p-4">
    <div class="overflow-hidden relative w-full">
      <div class="flex gap-6 animate-scroll">
        <img src="{% static 'assets/img/logo/pythonjunior.png' %}" alt="python" class="h-28">
        <img src="{% static 'assets/img/logo/javajunior.png' %}" alt="java" class="h-28">
        <img src="{% static 'assets/img/logo/estrutura.png' %}" alt="html" class="h-28">
        <img src="{% static 'assets/img/logo/djangoind.png' %}" alt="django" class="h-28">
        <img src="{% static 'assets/img/logo/sqlbanco.png' %}" alt="sql" class="h-28">
        <img src="{% static 'assets/img/logo/githubteste.png' %}" alt="gitHub" class="h-28">
        <img src="{% static 'assets/img/logo/pythonjunior.png' %}" alt="python" class="h-28">

      </div>
    </div>
  </div>
</div>


<!-- Projetos -->
<section id="projetos" class="py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold text-yellow-400 mb-10">Meus Projetos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <img src="{% static 'assets/img/projeto1a.png' %}" alt="Projeto 1"
          class="rounded-md mb-4 w-full h-48 object-cover" style="width: 100%; height: auto;">
        <h3 class="text-2xl font-bold mb-2">Projeto e-commerce</h3>
        <p class="text-gray-400">Descrição breve do projeto. Tecnologias usadas e propósito.</p>
        <a href="{% url 'projeto' %}" class="text-yellow-400 hover:underline">Veja mais</a>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <img src="{% static 'assets/img/projeto2a.png' %}" alt="Projeto 2"
          class="rounded-md mb-4 w-full h-48 object-cover" style="width: 100%; height: auto;">
        <h3 class="text-2xl font-bold mb-2">Projeto Blog</h3>
        <p class="text-gray-400">Descrição breve do projeto. Tecnologias usadas e propósito.</p>
        <a href="{% url 'projeto' %}" class="text-yellow-400 hover:underline">Veja mais</a>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg flex flex-col items-center">
        <div class="mb-6 w-full h-52">
          <img src="{% static 'assets/img/projetoAgen.jpeg' %}" alt="Projeto 3" class="rounded-md object-cover"
            style="width: 100%; height: 230px;">
        </div>
        <h3 class="text-2xl font-bold  mb-2">Projeto Agendamento</h3>
        <p class="text-gray-400">Projeto em 🚧 andamento 🚧.</p>

      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}